hash.svg<script type="text/javascript">
    RED.nodes.registerType('secret-password',{
            category: 'function',
            color: '#fff078',
            defaults: {
                name: {value:""},
                username: {value:"",required:true},
                password: {value:"",required:true},
            },
            inputs:1,
            outputs:1,
            icon: "hash.svg",
            label: function() {
                return this.name||"secret-password";
        }
    });
</script>

<script type="text/html" data-template-name="secret-password">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-username"><i class="fa fa-user-o"></i>Username</label>
        <input type="text" id="node-input-username" placeholder="Username">
    </div>
    <div class="form-row">
        <label for="node-input-password"><i class="fa fa-key"></i> Password</label>
        <input type="password" id="node-input-password" placeholder="Password">
    </div>
</script>

<script type="text/html" data-help-name="secret-password">
    <p>A simple node for set an username and password and pass to next node</p>
</script>

